#   K-nearest algorithm

- Importing libraries

In [1]:
import pandas as pd

- Importing Data-set

In [2]:
df = pd.read_csv('likeness.csv')
df.head()

   age  weight gender likeness   height
0   27    76.0   Male  Biryani  170.688
1   41    70.0   Male  Biryani      165
2   29    80.0   Male  Biryani      171
3   27   102.0   Male  Biryani      173
4   29    67.0   Male  Biryani      164

- Replacing Male and Female with 1 and 0

In [3]:
df['gender']=df['gender'].replace("Male",1)
df['gender']=df['gender'].replace("Female",0)
df.head()

   age  weight  gender likeness   height
0   27    76.0     1.0  Biryani  170.688
1   41    70.0     1.0  Biryani      165
2   29    80.0     1.0  Biryani      171
3   27   102.0     1.0  Biryani      173
4   29    67.0     1.0  Biryani      164

- Defining variables

In [4]:
x=df[['age','height','weight','gender']]
y=df['likeness']