# Decision_Tree_Classifier

- Importing library

In [4]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
import joblib
from decimal import Rounded
from numpy import outer
from pandas import unique
from sklearn import tree

- Importing Data-set

In [5]:
df = pd.read_csv('Machine_L_Data.csv')
df.head()

   age   height  weight gender likeness
0   27  170.688    76.0   Male  Biryani
1   41  165.000    70.0   Male  Biryani
2   29  171.000    80.0   Male  Biryani
3   27  173.000   102.0   Male  Biryani
4   29  164.000    67.0   Male  Biryani

- Replacing Male and Female with 1 and 0

In [6]:
df['gender'] = df['gender'].replace('Male', 1)
df['gender'] = df['gender'].replace('Female', 0)
df.head()

   age   height  weight  gender likeness
0   27  170.688    76.0       1  Biryani
1   41  165.000    70.0       1  Biryani
2   29  171.000    80.0       1  Biryani
3   27  173.000   102.0       1  Biryani
4   29  164.000    67.0       1  Biryani

- Variables (a, b)

In [7]:
a = df[['weight', 'gender']]
b = df['likeness']

- Machine Learning algorithm

        - Create and fit model

In [8]:
model=DecisionTreeClassifier().fit(a, b)

        - Prediction

In [9]:
model.predict([[80, 1]])
model.predict([[52, 0]])

c:\Users\thech\anaconda3\envs\streamlit\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(
c:\Users\thech\anaconda3\envs\streamlit\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Biryani'], dtype=object)

- Splitting Data-set

In [10]:
a_train, a_test, b_train, b_test= train_test_split(a, b, test_size=0.2, random_state=0)

        - Creating a model

In [11]:
model= DecisionTreeClassifier().fit(a_train, b_train)

        - Predicting values

In [12]:
y_pred= model.predict(a_test)
y_pred

array(['Biryani', 'Biryani', 'Pakora', 'Biryani', 'Samosa', 'Biryani',
       'Pakora', 'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Samosa',
       'Samosa', 'Pakora', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Pakora', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Biryani', 'Samosa',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Samosa', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani'], dtype=object)

        - Checking accuracy of model

In [13]:
score=accuracy_score(b_test, y_pred)
score

0.6122448979591837

- How to train and save model for future purposes

In [14]:
model=DecisionTreeClassifier().fit(a, b)
joblib.dump(model, "foodie.joblib")

['foodie.joblib']

- Loading and running saved model

In [15]:
loaded_model=joblib.load("foodie.joblib")
result = loaded_model.score(a, b)
result

0.763265306122449

- Graphical representation of the model

In [16]:
model= DecisionTreeClassifier().fit(a, b)

        - graphiv evaluation of the model

In [19]:
tree.export_graphviz(model,
                     out_file="foodie.dot",
                     feature_names=['age','gender'], 
                     class_names=sorted(b.unique()),
                     label= 'all', 
                     rounded=True, 
                     filled= True)