# :- Indexing

In [1]:
#lets make a string.
a = "Fries"
a

'Fries'

In [2]:
a

'Fries'

In [3]:
#lets find the lenght of indeces.
len(a)

5

In [4]:
a[0]

'F'

In [5]:
#Last index is exclusive
a[0:5]

'Fries'

In [6]:
a[-6:6]

'Fries'

In [7]:
food = "pulao"
food

'pulao'

# :- String Methods

In [8]:
food

'pulao'

In [9]:
len(food)

5

In [10]:
#capitalize first element
food.capitalize()

'Pulao'

In [11]:
#Upper casing elements
food.upper()

'PULAO'

In [12]:
#lower casing elements.
food.lower()

'pulao'

In [13]:
#replace
food.replace("p", "sh")

'shulao'

In [14]:
#counting a specific alphabet in a string
name = "Muhammad Faizan Akram is faizi"
name

'Muhammad Faizan Akram is faizi'

In [15]:
name.count("a")

6

# :- Finding an index number in string

In [16]:
name = "my elder brother is Muhammad Zeeshan Akram"
name

'my elder brother is Muhammad Zeeshan Akram'

In [17]:
name.find("a")

23

# :- How to split a string

In [18]:
food = "i love fries, burger, pizza and ice-cream"
food

'i love fries, burger, pizza and ice-cream'

In [19]:
food.split(",")

['i love fries', ' burger', ' pizza and ice-cream']

# :- Basic data structure in python
### 1: Tuple
### 2: List
### 3: Dictionaries
### 4: Set

## 1:- Tuple
- ordered collection of elements
- enclosed in () round braces/paranthesis
- different type of element can be stored (integers, float numbers, string & boolean)
- once elememts are stored, you can't change them (unmutatable)

In [20]:
tup1 = (10, "Data science with Python", True , 4.6)
tup1

(10, 'Data science with Python', True, 4.6)

In [21]:
#type of a tuple:
type(tup1)

tuple

In [22]:
tup2= (20, "I am Learning python", 9.7, False)
tup2

(20, 'I am Learning python', 9.7, False)

### :-  Indexing in tuple

In [23]:
# Python always start with the number of (0)
tup1[0]

10

In [24]:
tup1[1]

'Data science with Python'

In [25]:
tup1[2]

True

In [26]:
tup1[3]

4.6

In [27]:
# Last one is exclusive.
tup1[0:5]

(10, 'Data science with Python', True, 4.6)

In [28]:
#count of elements in tuple
len(tup1)

4

In [29]:
#concatinate (to add 2 tuples, that can be more than 2)
tup1 + tup2

(10,
 'Data science with Python',
 True,
 4.6,
 20,
 'I am Learning python',
 9.7,
 False)

In [30]:
#concatinate + repeat 
tup1*2 + tup2

(10,
 'Data science with Python',
 True,
 4.6,
 10,
 'Data science with Python',
 True,
 4.6,
 20,
 'I am Learning python',
 9.7,
 False)

In [31]:
tup3 = (20,25,30,35,40,45)
tup3

(20, 25, 30, 35, 40, 45)

In [32]:
#minimum
min(tup3)

20

In [33]:
#maximum
max(tup3)

45

In [34]:
#tuple.count function
tup3.count(35)

1

In [35]:
#tuple.index function
tup3.index(30)

2

---

## 2:- List 
- Ordered collection of elememts
- Enclosed in [ ] square brackets
- Mutateable, you can change the values

In [36]:
#List 1
list1 = [34, "Faizan Akram", True]
list1

[34, 'Faizan Akram', True]

In [37]:
type(list1)

list

In [38]:
len(list1)

3

In [39]:
list1[1]

'Faizan Akram'

In [40]:
#List 2
list2 = [12,9, "Zeeshan","Hamzah",876, 23.5, False]
list2

[12, 9, 'Zeeshan', 'Hamzah', 876, 23.5, False]

In [41]:
list1 + list2

[34, 'Faizan Akram', True, 12, 9, 'Zeeshan', 'Hamzah', 876, 23.5, False]

In [42]:
list1*2 + list2

[34,
 'Faizan Akram',
 True,
 34,
 'Faizan Akram',
 True,
 12,
 9,
 'Zeeshan',
 'Hamzah',
 876,
 23.5,
 False]

In [43]:
list1

[34, 'Faizan Akram', True]

In [44]:
#Reverse Function
list1.reverse()
list1

[True, 'Faizan Akram', 34]

In [45]:
#Append function
list1.append("Akram")
list1

[True, 'Faizan Akram', 34, 'Akram']

In [46]:
#Extend Function
list1.extend(list2)
list1

[True,
 'Faizan Akram',
 34,
 'Akram',
 12,
 9,
 'Zeeshan',
 'Hamzah',
 876,
 23.5,
 False]

In [47]:
#Clear function
list1.clear()
list1

[]

In [48]:
#Copy function
list1 = list2.copy()
list1

[12, 9, 'Zeeshan', 'Hamzah', 876, 23.5, False]

In [49]:
#Count Function
list1.count("Faizan Akram")

0

In [50]:
#Index function
list1.index("Hamzah")

3

In [51]:
list1

[12, 9, 'Zeeshan', 'Hamzah', 876, 23.5, False]

In [52]:
#Insert function
list1.insert(1, "Faryad")
list1

[12, 'Faryad', 9, 'Zeeshan', 'Hamzah', 876, 23.5, False]

In [53]:
#Pop function
list1.pop(1)
list1

[12, 9, 'Zeeshan', 'Hamzah', 876, 23.5, False]

In [54]:
#Remove function
list1.remove("Zeeshan")
list1

[12, 9, 'Hamzah', 876, 23.5, False]

In [59]:
list3 = ["Lamborghini", "Mercedes", "BMW"]
list3

['Lamborghini', 'Mercedes', 'BMW']

In [60]:
#Sort function
list3.sort()
list3

['BMW', 'Lamborghini', 'Mercedes']

---

## 3:- Dictionaries